.content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding: 50px;
  margin: 20px;
  position: relative;
  left: 20%;
}

/* Change behaviour of a hyperlink in the content box*/
.content a:link, a:active {
    color: blue;
}

.content a:visited, a:hover {
    color: purple;
}

/* Add a background to the top of the webpage */
#topHeader {
    width: 1000px;
    height: 160px;
    position: relative;
    left: 15%;
}

/* Customize the background image */
#topHeader img {
    width: 1000px;
    height: 160px;
}

/* Create and customize a navigation bar at the top of the webpage */
.navigation {
    width: 1000px;
    overflow: hidden;
    background-color: skyblue;
    position: relative;
    left: 15%;
}

.navigation a {
    float: left;
    display: block;
    background-color: dodgerblue;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
}

.navigation a:hover {
    background-color: #ddd;
}

/* Upload and customize my selfie and my name*/
#myName {
    height: 50px;
}

/* Change the front and position of the text */
#myName h1 {
    font-size: 300%;
    position: absolute;
    left: 45%;
    top: 50%;
}

/* Change the size and position of my selfie*/
#myName img {
    width: 160px;
    height: 200px;
    position: absolute;
    left: 10%;
    top: 10%;
}

/* Change the size and font size of my self-introduction*/
#myIntro {
    height: 250px;
    font-size: 125%;
}

/* Change the size and font size of my-pets section */
#myPets {
  font-size: 125%;
}

/* Change the font size of the dataServlet box*/
#dataServlet {
    font-size: 150%;
}

#dataServlet button {
    width: 100px;
    height: 50px;
    font-size: 75%;
    background-color: dodgerblue;
}

/* Customize comments and the comment list */
#comments-list {
  list-style-type: none;
}

.comment {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.comment span {
  flex-grow: 1;
}

.hidden {
  display: none;
}

/* Customize the pets button, make it more iteractive*/
#petsButton {
  display: inline-block;
  background-color: #f4511e;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px 32px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 2px;
  opacity: 0.8;
}

#petsButton:hover {
  opacity: 1;
}

#petsButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#petsButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0,5s;
}

#petsButton:hover span {
  padding-right: 25px;
}

#petsButton:hover span::after {
  opacity: 1;
  right: 0;
}

/* Customize the image style in the image.html*/
#image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#image-thumbnails img {
  margin: 10px;
  max-height: 300px;
  max-width: 300px;
}

#image-thumbnails img:hover {
  border: thick solid black;
}
