.content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding: 50px;
  margin: 20px;
  position: relative;
  left: 20%;
}

/* Add a background to the top of the webpage */
#topHeader {
    width: 1000px;
    height: 160px;
    position: relative;
    left: 15%;
}

/* Customize the background image */
#topHeader img {
    width: 1000px;
    height: 160px;
}

/* Create and customize a navigation bar at the top of the webpage */
.navigation {
    width: 1000px;
    overflow: hidden;
    background-color: skyblue;
    position: relative;
    left: 15%;
}

.navigation a {
    float: left;
    display: block;
    background-color: dodgerblue;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
}

.navigation a:hover {
    background-color: #ddd;
}

/* Upload and customize my selfie and my name*/
#myName {
    height: 50px;
}

/* Change the front and position of the text */
#myName h1 {
    font-size: 300%;
    position: absolute;
    left: 45%;
    top: 50%;
}

/* Change the size and position of my selfie*/
#myName img {
    width: 210px;
    height: 280px;
    position: absolute;
    left: 10%;
    top: 0%;
}
